{% load static %}
<footer>
    <div class="footer-nav">
        <div class="footerNav-list widthWrap">
                <span>友情链接：</span>
                    <a href="mz.chenggua.com">橙瓜码字</a>
                    <a href="http://www.wanwujinxiu.com/#/home/homeindex">万物锦绣</a>
                    <a href="http://www.guomii.com/">果迷阅读</a>
                    <a href="https://www.vzo.cc/">挽竹文学</a>
                    <a href="http://www.psptime.net/">时光阅读</a>
                    <a href="https://www.asp1.com.cn">A1小说</a>
                    <a href="http://www.damaizw.com/">大麦中文网</a>
                    <a href="http://www.xiai360.com/">喜爱360小说</a>
                    <a href="https://www.9yread.com/">九阅小说</a>
                    <a href="http://www.xiaoshuokong.com/">小说控</a>
        </div>
    </div>

    <div class="keepRecord">
        <div class="keepRecord-detail widthWrap">
            <div class="about-us">
                <a href="/about">关于盒子小说</a><span>|</span><a href="/about/contactus"> 联系我们</a><span>|</span><a href="/about/join">人才招聘</a><span>|</span><a href="/about/copyright">版权申明</a><span>|</span><a href="/about/cooperation">商务合作</a>
            </div>
            <p>
                <span>Copyright (C) 2015-2024 www.hezibook.com All Rights Reserved.</span>
                <span>杭州千越信息技术有限公司版权所有</span>
                <span><a href="https://beian.miit.gov.cn/" target="_blank" style="text-decoration: underline">浙ICP备12036728号-2</a></span>
            </p>
            <p>本站所收录所有小说作品、小说评论、用户上传内容或图片等均属其个人行为，不代表本站立场。</p>
            <p> 请所有作者发布作品时务必遵守国家互联网信息管理办法规定，我们拒绝任何色情小说，一经发现，即作删除！ </p>
            <p class="publicNum">浙公网安备 浙ICP备15042200号-4<span>|</span>网络出版服务许可证：（总）网出证（浙）字第 012 号</p>
        </div>
    </div>
</footer>