/* 项目公共样式 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

em,
i {
	font-style: normal;
}

b,
strong {
	font-weight: normal;
}

.w100 {
	width: 100%;
}

.w70 {
	width: 70%;
}

.w60 {
	width: 60%;
}

.w50 {
	width: 50%;
}

.w40 {
	width: 40%;
}

.w20 {
	width: 20%;
}

.w30 {
	width: 30%;
}

.w80 {
	width: 80%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

/* first-section */
.first-section {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	margin-top: 5px;
}

.first-section-left {
	width: 1000px;
}

.first-section-right {
	width: 200px;
}


.img-name {
	float: left;
}

.top-right {
	float: left;
	width: 50%;
	margin-left: 40px;
}

.first-title {
	display: block;
	font-size: 20px;
	color: #1B2641;
	padding: 0 20px 0;
	margin-bottom: 10px;
	margin-left: -15px;
}

.top-right .first-author a {
	margin: 20px 0;
	font-size: 14px;
	color: #7D879F;
}

.top-right .first-des {
	font-size: 12px;
	color: #7D879F;
	line-height: 20px;
	padding: 0 20px 0;
}


.first-section-right .commonTitle {
	display: block;
	height: 60px;
	line-height: 60px;
	color: #1B2641;
	font-size: 20px;
	padding-left: 15px;
	border-bottom: 1px solid #e7e7e7;
}

.first-section-right .book_list {
	padding-left: 15px;
}

.first-section-right .book_list li {
	margin-bottom: 15.5px
}

ul,
ol,
li {
	list-style: none;
}

.first-des {
	color: #7D879F;
	font-size: 14px;
}

#book {
	position: absolute;
	text-decoration: none;
	display: block;
	width: 107px;
	height: 38px;
	line-height: 38px;
	border: 1px solid #DDD;
	color: #3cabdb;
	text-align: center;
	left: 280px;
	bottom: 100px;
}

#book:hover {

	color: green;
}

.tips {
	flex: left;
	margin: 25px 0;
	overflow: hidden;
}

.tips span {
	color: #7D879F;
	font-size: 12px;
	flex: left;
}
.button_list{
	margin-left: 50px;
} 
.button_list btn{
	padding: 20px;

}




/* 书籍目录列表  chapter_list */

.chapter_list ul{
	margin-top: 20px;
	margin-left: 30px;
	float: left;
}
.chapter_list ul li{
	padding-bottom: 30px;
	float: left;
	width: 400px;
	color: black;
}
.chapter_list ul li span{
	margin-left: 10px;
}
.chapter_list ul li:hover{
	color: #5BC0DE;
}



