/* 项目公共样式 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

em,
i {
	font-style: normal;
}

b,
strong {
	font-weight: normal;
}

.w100 {
	width: 100%;
}

.w70 {
	width: 70%;
}

.w60 {
	width: 60%;
}

.w50 {
	width: 50%;
}

.w40 {
	width: 40%;
}

.w20 {
	width: 20%;
}

.w30 {
	width: 30%;
}

.w80 {
	width: 80%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

.readWrap {
	width: 1060px;
}

element.style {}

.readWrap {
	background-color: #fff;
}

.readWrap .articleContent {
	width: 100%;
	text-align: center;
	padding-top: 40px;
}

.articleContent .articalCharpter {
	font-size: 24px;
}

.articleContent .acticalAuthor {
	font-size: 14px;
	color: #7D879F;
	margin-top: 15px;
}

.content {
	width: 500x;
	margin: 0 auto;
	background-color: #fff;
	text-indent: 2em;
}

.content p {
	line-height: 1.8;
	margin-bottom: 40px;
	text-align: justify;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	font-size: 18px
	    color: #000;
}

